* {
    box-sizing: border-box;  
}
main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(242, 217, 218);
    width: 100%;
}
.important-stuff {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
}
#my-name {
    text-align: left;
    font-size: 32px;
}
h2 {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 24px;
    color: rgb(235, 79, 158)
}
.fab-container {  
   display: flex;
   flex-direction: column;
   float: left; 
}
.fab {
    font-size: 13px;
    color: rgb(194, 138, 216);
}
.quiz-app {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 60%;
  
}
.img-and-fab {
    text-align: center;
}
span {
    color: rgb(194, 138, 216);
}
.email {
    text-align: center;
    font-size: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
}
nav ul {
    padding: 0;
    margin-left: 10px;
    text-align: center;  
}
.container { 
    display: flex;
    flex-direction: column;
    min-height: 200px;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 24px;
    text-align: left;
    color: rgb(55, 15, 53);   
}
nav li {
    display: inline;
    margin-right: 20px;  
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;  
}
.container li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    position: relative;
}
.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}



