* {
    box-sizing: border-box;  
}
main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(242, 217, 218);
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
a, #github-link, #linked-in-link {
    color: #3358c6
}
a:hover {
    color: white;
    

}
#github-link:hover {
    color: white;
}
#linked-in-link:hover {
    color: white;
}

.important-stuff {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
}
#my-name {
    text-align: left;
    font-size: 32px;
}
h2, h1 {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 24px;
    color: #e4197f
}
.fab-container {  
   display: flex;
   flex-direction: column;
   float: left; 
}
#html-5-icon {
    color: rgb(238, 101, 52)
}
#js-icon {
    color:rgb(241, 190, 56)
}
#css3-icon {
    color: rgb(50, 172, 225)
}
/*.fab {
    font-size: 16px;
    color: #8b39ab;
}*/
.quiz-app {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 90%;
}
.img-and-fab {
    text-align: center;
}
span {
    color: #8b39ab;
}


.container { 
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 24px;
    text-align: left;
    color: rgb(55, 15, 53);   
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;  
}
.container li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    position: relative;
}
.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(121, 78, 175);
    
}
.fa-github, .fa-linkedin {
    color: rgb(121, 78, 175);
}
.topnav {
    overflow: hidden;
    background-color: #333;
    padding-left: 0px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:#39823c;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
@media screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 15px;   
    }
    nav {
        padding-left: 0;
    }
    .container {
        display: flex;
        font-size: 20px;
        line-height: 30px;
        padding: 0px;   
    }
    .container-4 {
        display: flex;
        align-items: center;
    }
    .projects-text {
        align-items: center;
    }
    p {
        width: 40%;
        padding-left: 60px;
    }
    #my-name {
        font-size: 61.04px;
        line-height: 48px;
        text-align: center;
    }
    .important-stuff {
        font-size: 39.06px;
        line-height: 48px;
    }
    #my-name, h2 {
        padding-left: 0px;
        
    }
    h2 {
        font-size: 39.06px;
        text-align: center;
    }
    .fab {
        font-size: 20px;
    }
    body {
        margin: 0;
    }

.topnav {
    overflow: hidden;
    background-color: #333;
    padding-left: 0px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
 
   
     
