* {
    box-sizing: border-box;  
}
main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(242, 217, 218);
    width: 100%;
    height: 100%;
}
.important-stuff {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
}
#my-name {
    text-align: left;
    font-size: 32px;
}
h2, h1 {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 24px;
    color: #e4197f
}
.fab-container {  
   display: flex;
   flex-direction: column;
   float: left; 
}
.fab {
    font-size: 13px;
    color: #8b39ab;
   
}
.quiz-app {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 90%;
  
}
.img-and-fab {
    text-align: center;
}
span {
   
    color: #8b39ab;
}
.email {
    text-align: center;
    font-size: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
}
nav ul {
    padding: 0;
    margin-left: 10px;
    text-align: center;  
}
.container { 
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 24px;
    text-align: left;
    color: rgb(55, 15, 53);   
}
nav li {
    display: inline;
    margin-right: 20px;  
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;  
}
.container li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    position: relative;
}
.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(121, 78, 175);
    
}
.fa-github, .fa-linkedin {
    color: rgb(121, 78, 175);
}
@media screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: flex-start;
        align-items: center;  
        
    }
    .container {
        width: 40%;
        font-size: 20px;
        line-height: 30px;
        padding: 0px;
    }
    #my-name {
        font-size: 61.04px;
        line-height: 48px;
    }
    .important-stuff {
        font-size: 39.06px;
        line-height: 48px;
    }
    h2 {
        font-size: 39.06px;
    }
    .fab {
        font-size: 16px;
    }
  
   }


