* {
    box-sizing: border-box;  
}


main {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(242, 217, 218);
    color: rgb(55, 15, 53);
    width: 600px;
    
    
    
   
}
#my-name {
    font-size: 32px;
}
h2 {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 24px;
    color: rgb(235, 79, 158)
}
.quiz-app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
  
}
span {
    color: rgb(194, 138, 216);
}
nav {
    font-size: 16px;
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 200px;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 20px;
    text-align: left;
    
    
}
nav li {
    display: inline;
    
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


